<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class='ion-margin-vertical' *ngFor='let item of product; let i = index;'>
        <ion-row>
            <ion-col size='3'>

                <img class='productImg' src="../../../assets/back8.png" alt="" srcset="">
            </ion-col>
            <ion-col size='9'>
                <span class='productName'>{{item.product_name}}</span>
                <span class='manufacture'>{{item.product_producer}}</span>

                <span class='price'>₹ {{item.product_cost}}</span>



            </ion-col>
        </ion-row>
    </ion-card>

    <!-- <ion-list>
        <ion-item-sliding *ngFor='let item of product; let i = index;'>
            <ion-item-options side="start">
                <ion-item-option color="success" (click)='addToCart(product)'>
                    <ion-icon slot="icon-only" src='../../assets/icon/add-to-cart.svg'></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item (click)='routeProductPage(product)'>

                <ion-col size='4'>

                    <img class='productImg' src="{{item.product_image}}" alt="" srcset="">
                </ion-col>
                <ion-col size='9'>
                    <span class='productName'>{{item.product_name}}</span>
                    <span class='manufacture'>{{item.product_producer}}</span>

                    <span class='price'>₹ {{item.product_cost}}</span>
                  


                </ion-col>


            </ion-item>
        </ion-item-sliding>
    </ion-list>


    <ion-infinite-scroll (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
</ion-content>