.productName{
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 20px;
    font-weight: 600;
    display: block;
    color:black
    // line-height: 2;
}
.manufacture {
    font-size: 12px;
    display: block;
    
}
.price {
    padding: 10px 0px;
    font-size: 20px;
    color:var(--ion-color-warning-shade);
    display: inline-block;
}
.productImg {
    width: 100px;
    height: 90px;
    border-radius: 12%;
}   
ion-card{
    border-radius: 15px;
}