ion-item {
    --border-color: transparent;
    --background: transparent
}
.app-name{
    
    font-size: 35px;
    color: var(--ion-color-dark);
    text-align: center

}
.showPassword{
    background-color: transparent;
    outline:none;
    font-size: 20px;
}

.back {
    --background: url('../../../assets/back8.png') no-repeat cover fixed center ;
    background: url('../../../assets/back8.png') no-repeat fixed center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.input-label{
    color: black;
    font-size: 15px;
    margin-left: 5%;
    padding-bottom: 10px;
}
.input-wrap {
    border: 2px solid black;
    color: black;
    width: 100%;
    border-radius: 5px;
    padding: 0px;
    font-size: 20px;
}
.invalid {
    margin: auto;
    border: 2px solid red;
    color: red;
    width: 100%;
    border-radius: 5px;
    padding: 0px;
    font-size: 20px;
}

form {
    width:90%;
    margin:auto;
    
}
ion-toolbar {
    --background:black;
    color:white
}
ion-list {
    background-color: transparent
}
.select {
border:2px solid black;
margin: 20px 0px
}
ion-button.submit {
    --background: black;
    width:100%;
    margin: auto;
    display: block;
}
ion-input.ion-invalid {
    --border: none !important;
    --margin-left: 5px !important;
}
ion-item.ion-invalid {
    --highlight-background:transparent;
  }
  ion-item.ion-valid {
    --highlight-background:transparent;
  }

  .select-icon {
    color: black;
    font-size: 20px;
    margin-right: 5px;
  }