<ion-header>
    <!-- <ion-toolbar class='header' text-center>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{ 'auth.register.title' |translate}}</ion-title>
    </ion-toolbar> -->
</ion-header>

<ion-content class="back ion-padding-vertical" [scrollEvents]="true" padding>

    <div>
        <div class='app-name ion-text-center ion-padding-vertical'>{{ 'Create Account' |translate}}</div>
        <form [formGroup]='registerationForm'>

            <div class='ion-padding-vertical'>
                <div class='input-label'>{{'auth.form_fields.first_name'| translate}}</div>
                <div [ngClass]="registerationForm.get('firstName').hasError('required')&&(registerationForm.get('firstName').dirty||registerationForm.get('firstName').touched)?'invalid':'input-wrap'">
                    <ion-item>
                        <ion-label>
                            <ion-icon name="person"></ion-icon>
                        </ion-label>
                        <ion-input formControlName='firstName' required placeholder="{{'auth.form_fields.first_name'| translate}}" type='name'></ion-input>
                    </ion-item>
                </div>
                <p class='validation-error' *ngIf="registerationForm.get('firstName').hasError('required')&&(registerationForm.get('firstName').dirty||registerationForm.get('firstName').touched)">{{'auth.form_fields.required'|translate}}</p>
            </div>

            <div class='ion-padding-vertical'>
                <div class='input-label'>{{'auth.form_fields.last_name'| translate}}</div>
                <div [ngClass]="registerationForm.get('lastName').hasError('required')&&(registerationForm.get('lastName').dirty||registerationForm.get('lastName').touched)?'invalid':'input-wrap'">
                    <ion-item>
                        <ion-label>
                            <ion-icon name="person"></ion-icon>
                        </ion-label>
                        <ion-input formControlName='lastName' placeholder="{{'auth.form_fields.last_name'| translate}}"></ion-input>
                    </ion-item>
                </div>
                <p class='validation-error' *ngIf="registerationForm.get('lastName').hasError('required')&&(registerationForm.get('lastName').dirty||registerationForm.get('lastName').touched)">{{'auth.form_fields.required'|translate}}</p>
            </div>



            <div class='ion-padding-vertical'>
                <div class='input-label'>{{'auth.form_fields.email'| translate}}</div>
                <div [ngClass]="registerationForm.get('email').hasError('required')&&(registerationForm.get('email').dirty||registerationForm.get('email').touched)||registerationForm.get('email').dirty&&registerationForm.get('email').hasError('pattern')?'invalid':'input-wrap'">
                    <ion-item>
                        <ion-label>
                            <ion-icon name="mail"></ion-icon>
                        </ion-label>
                        <ion-input formControlName='email' placeholder="{{'auth.form_fields.email'| translate}}" type='email'></ion-input>
                    </ion-item>
                </div>
                <p class='validation-error' *ngIf="registerationForm.get('email').hasError('required')&&(registerationForm.get('email').dirty||registerationForm.get('email').touched)">{{'auth.form_fields.required'|translate}}</p>
                <p class='validation-error' *ngIf="registerationForm.get('email').hasError('pattern')">{{'auth.form_fields.enter_valid_email'|translate}}</p>

            </div>

            <div class='ion-padding-vertical'>
                <div class='input-label'>{{'auth.form_fields.password'| translate}}</div>
                <div [ngClass]="registerationForm.get('password').hasError('required')&&(registerationForm.get('password').dirty||registerationForm.get('password').touched)||registerationForm.get('password').dirty&&registerationForm.get('password').hasError('pattern')?'invalid':'input-wrap'">
                    <ion-item>
                        <ion-label>
                            <ion-icon name="lock-closed"></ion-icon>
                        </ion-label>
                        <ion-input type="{{passwordType}}" formControlName="password" placeholder="{{'auth.form_fields.password'| translate}}"></ion-input>
                        <button *ngIf="passwordType === 'text'" type="button" (click)="showPassword('password')" class="showPassword">
                            <ion-icon name="eye" class='showPassword'></ion-icon>
                        </button>
                        <button *ngIf="passwordType === 'password'" type="button" (click)="showPassword('password')" class="showPassword">
                            <ion-icon name="eye-off" class='showPassword'></ion-icon>
                        </button>
                    </ion-item>
                </div>
                <p class='validation-error' *ngIf="registerationForm.get('password').hasError('required')&&(registerationForm.get('password').dirty||registerationForm.get('password').touched)">{{'auth.form_fields.required'|translate}}</p>
                <p class='validation-error' *ngIf="registerationForm.get('password').hasError('pattern')">{{'auth.form_fields.enter_valid_password'| translate}}
                </p>
            </div>

            <div class='ion-padding-vertical'>
                <div class='input-label'>{{'auth.form_fields.confirm_password'| translate}} </div>
                <div [ngClass]="registerationForm.get('confirmPassword').hasError('required')&&(registerationForm.get('confirmPassword').dirty||registerationForm.get('confirmPassword').touched)||registerationForm.get('confirmPassword').dirty&&registerationForm.get('confirmPassword').hasError('pattern')?'invalid':'input-wrap'">
                    <ion-item>
                        <ion-label>
                            <ion-icon name="lock-closed"></ion-icon>
                        </ion-label>
                        <ion-input type="{{confirmPasswordType}}" formControlName="confirmPassword" placeholder="{{'auth.form_fields.confirm_password'| translate}}"
                            type='password'></ion-input>
                        <button *ngIf="confirmPasswordType === 'text'" type="button" (click)="showPassword('confirmPassword')" class="showPassword">
                            <ion-icon name="eye" class='showPassword'></ion-icon>
                        </button>
                        <button *ngIf="confirmPasswordType === 'password'" type="button" (click)="showPassword('confirmPassword')" class="showPassword">
                            <ion-icon name="eye-off" class='showPassword'></ion-icon>
                        </button>
                    </ion-item>

                </div>
                <p class='validation-error' *ngIf="registerationForm.get('confirmPassword').hasError('required')&&(registerationForm.get('confirmPassword').dirty||registerationForm.get('confirmPassword').touched)">
                    {{'auth.form_fields.required'|translate}}</p>
                <p class='validation-error' *ngIf="registerationForm.get('confirmPassword').hasError('pattern')">{{'auth.form_fields.enter_valid_password'| translate}}
                </p>
            </div>

            <div class='ion-padding-vertical'>
                <div class='input-label'>{{'auth.form_fields.phone_number'| translate}} </div>
                <div [ngClass]="registerationForm.get('phone_no').hasError('required')&&(registerationForm.get('phone_no').dirty||registerationForm.get('phone_no').touched)?'invalid':'input-wrap'">
                    <ion-item>
                        <ion-label>
                            <ion-icon name="call"></ion-icon>
                        </ion-label>
                        <ion-input formControlName='phone_no' placeholder="{{'auth.form_fields.phone_number'| translate}}" type='number'></ion-input>
                    </ion-item>
                </div>
                <p class='validation-error' *ngIf="registerationForm.get('phone_no').hasError('required')&&(registerationForm.get('phone_no').dirty||registerationForm.get('phone_no').touched)">
                    {{'auth.form_fields.required'|translate}}</p>
            </div>

            <div class='ion-padding-vertical'>
                <div class='input-label'>{{'auth.form_fields.dob'| translate}} </div>
                <div [ngClass]="registerationForm.get('dob').hasError('required')&&(registerationForm.get('dob').dirty||registerationForm.get('dob').touched)?'invalid':'input-wrap'">
                    <ion-item (click)="openDOBDatePicker()">
                        <ion-label>
                            <ion-icon name="calendar"></ion-icon>
                        </ion-label>
                        <ion-input formControlName='dob' name="dob" placeholder="{{'auth.form_fields.dob'| translate}}" type='number'></ion-input>
                    </ion-item>
                </div>
                <p class='validation-error' *ngIf="registerationForm.get('dob').hasError('required')&&(registerationForm.get('dob').dirty||registerationForm.get('dob').touched)">{{'auth.form_fields.required'|translate}}</p>

            </div>

            <ion-item hidden>
                <ion-datetime #dobPicker (ionChange)="dobChanged($event)" picker-format="DD MM YYYY"></ion-datetime>
            </ion-item>



            <ion-list class='input-box'>
                <ion-radio-group value="male" formControlName='gender'>
                    <!-- <ion-list-header> -->
                    <ion-label class='input-label'>
                        <ion-icon name="male-female"></ion-icon>{{'auth.form_fields.gender'| translate}}
                    </ion-label>
                    <!-- </ion-list-header> -->

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>{{'auth.form_fields.male'| translate}}</ion-label>
                                <ion-radio color='dark' slot="start" value="male"></ion-radio>
                            </ion-item>
                        </ion-col>

                        <ion-col>
                            <ion-item>
                                <ion-label>{{'auth.form_fields.female'| translate}}</ion-label>
                                <ion-radio color='dark' slot="start" value="female"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-radio-group>
            </ion-list>
            <div class='ion-padding-vertical'>

                <div class='input-wrap'>
                    <ion-item>
                        <ion-icon class='select-icon' name="location"></ion-icon>
                        <ion-label>{{'auth.form_fields.city'| translate}}</ion-label>
                        <ion-select value="brown" okText="Okay" cancelText="Dismiss" formControlName='city' placeholder="{'auth.form_fields.select_city'| translate}}">
                            <ion-select-option value="brown">Indore</ion-select-option>
                            <ion-select-option value="blonde">Mumbai</ion-select-option>
                            <ion-select-option value="black">Pune</ion-select-option>
                            <ion-select-option value="red">Bhopal</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            </div>
            <div class='ion-padding-vertical'>

                <div class='input-wrap'>

                    <ion-item>
                        <ion-icon class='select-icon' name="flag"></ion-icon>
                        <ion-label>{{'auth.form_fields.nationality'| translate}}</ion-label>
                        <ion-select value="brown" okText="Okay" cancelText="Dismiss" formControlName='nationality' placeholder="{{'auth.form_fields.select_nationality'| translate}}">
                            <ion-select-option value="brown">Indian</ion-select-option>
                            <ion-select-option value="blonde">Indian</ion-select-option>
                            <ion-select-option value="black">Indian</ion-select-option>
                            <ion-select-option value="red">Indian</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            </div>
            <ion-item button="false" class='input-box' (click)='openModal($event)'>
                <ion-checkbox color="primary" (ionChange)=' checkTermsAndCond($event) '></ion-checkbox>&nbsp;&nbsp;
                <ion-label>
                    <a>
                        {{'auth.form_fields.terms_conditions'| translate}}
                    </a>
                </ion-label>
            </ion-item>


            <ion-button class='submit' size='large' (click)='onSubmit()'>{{'auth.form_fields.submit'| translate}}</ion-button>
        </form>
    </div>
    <!-- <h1>Create Account</h1> -->
    <!-- <div class="form-container"> -->


    <!-- 
            <ion-item>
                <ion-label position="floating">{{'auth.form_fields.first_name'| translate}}</ion-label>
                <ion-input formControlName='firstName' required></ion-input>
            </ion-item>
            <p class='validation-error' *ngIf="registerationForm.get('firstName').hasError('required')&&(registerationForm.get('firstName').dirty||registerationForm.get('firstName').touched)">{{'auth.form_fields.required'|translate}}</p>

            <ion-item>
                <ion-label position="floating">{{'auth.form_fields.last_name'| translate}}</ion-label>
                <ion-input formControlName='lastName' required></ion-input>
            </ion-item>
            <p class='validation-error' *ngIf="registerationForm.get('lastName').hasError('required')&&(registerationForm.get('lastName').dirty||registerationForm.get('lastName').touched)">{{'auth.form_fields.required'|translate}}</p>


            <ion-item>
                <ion-label position="floating">{{'auth.form_fields.password'| translate}}</ion-label>
                <ion-input type="{{passwordType}}" formControlName="password"></ion-input>
                <button *ngIf="passwordType === 'text'" type="button" (click)="showPassword('password')" class="showPassword">
                        <ion-icon name="eye" class='showPassword'></ion-icon>
                    </button>
                    <button *ngIf="passwordType === 'password'" type="button" (click)="showPassword('password')" class="showPassword">
                        <ion-icon name="eye-off" class='showPassword'></ion-icon>
                    </button>
            </ion-item>
            <p class='validation-error' *ngIf="registerationForm.get('password').hasError('required')&&(registerationForm.get('password').dirty||registerationForm.get('password').touched)">{{'auth.form_fields.required'|translate}}</p>

            <ion-item>
                <ion-label position="floating">{{'auth.form_fields.confirm_password'| translate}}</ion-label>
                <ion-input type="{{confirmPasswordType}}" formControlName="confirmPassword"></ion-input>
                <button *ngIf="confirmPasswordType === 'text'" type="button" (click)="showPassword('confirmPassword')" class="showPassword">
                        <ion-icon name="eye" class='showPassword'></ion-icon>
                    </button>
                    <button *ngIf="confirmPasswordType === 'password'" type="button" (click)="showPassword('confirmPassword')" class="showPassword">
                        <ion-icon name="eye-off" class='showPassword'></ion-icon>
                    </button>
            </ion-item>

            <p class='validation-error' *ngIf="registerationForm.get('confirmPassword').hasError('required')&&(registerationForm.get('confirmPassword').dirty||registerationForm.get('confirmPassword').touched)">
                {{'auth.form_fields.required'|translate}}</p>


            <ion-item>
                <ion-label position="floating">{{'auth.form_fields.email'| translate}}</ion-label>
                <ion-input formControlName='email' type='text'></ion-input>
            </ion-item>
            <p class='validation-error' *ngIf="registerationForm.get('email').hasError('required')&&(registerationForm.get('email').dirty||registerationForm.get('email').touched)">{{'auth.form_fields.required'|translate}}</p>


            <ion-item>
                <ion-label position="floating">{{'auth.form_fields.phone_number'| translate}}</ion-label>
                <ion-input formControlName='phone_no' type='text'></ion-input>
            </ion-item>
            <p class='validation-error' *ngIf="registerationForm.get('phone_no').hasError('required')&&(registerationForm.get('phone_no').dirty||registerationForm.get('phone_no').touched)">{{'auth.form_fields.required'|translate}}</p>

            <ion-item (click)="openDOBDatePicker()">
                <ion-label position="floating">{{'auth.form_fields.dob'| translate}}</ion-label>

                <ion-input formControlName='dob' name="dob" type="text"></ion-input>
            </ion-item>
            <p class='validation-error' *ngIf="registerationForm.get('dob').hasError('required')&&(registerationForm.get('dob').dirty||registerationForm.get('dob').touched)">{{'auth.form_fields.required'|translate}}</p>

            <ion-item hidden>
                <ion-datetime #dobPicker (ionChange)="dobChanged($event)" picker-format="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-list class='input-box'>
                <ion-radio-group value="male" formControlName='gender'>
                    <ion-list-header>
                        <ion-label>
                            <ion-icon name="male-female"></ion-icon>{{'auth.form_fields.gender'| translate}}
                        </ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>{{'auth.form_fields.male'| translate}}</ion-label>
                        <ion-radio slot="start" value="male"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>{{'auth.form_fields.female'| translate}}</ion-label>
                        <ion-radio slot="start" value="female"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>

            <ion-item class='input-box'>
                <ion-label>{{'auth.form_fields.city'| translate}}</ion-label>
                <ion-select value="brown" okText="Okay" cancelText="Dismiss" formControlName='city' placeholder="{'auth.form_fields.select_city'| translate}}">
                    <ion-select-option value="brown">Indore</ion-select-option>
                    <ion-select-option value="blonde">Mumbai</ion-select-option>
                    <ion-select-option value="black">Pune</ion-select-option>
                    <ion-select-option value="red">Bhopal</ion-select-option>
                </ion-select>
            </ion-item>
            <p class='validation-error' *ngIf="registerationForm.get('city').hasError('required')&&(registerationForm.get('city').dirty||registerationForm.get('city').touched)">{{'auth.form_fields.required'|translate}}</p>

            <ion-item class='input-box'>
                <ion-label>{{'auth.form_fields.nationality'| translate}}</ion-label>
                <ion-select value="brown" okText="Okay" cancelText="Dismiss" formControlName='nationality' placeholder="{{'auth.form_fields.select_nationality'| translate}}">
                    <ion-select-option value="brown">Indian</ion-select-option>
                    <ion-select-option value="blonde">Indian</ion-select-option>
                    <ion-select-option value="black">Indian</ion-select-option>
                    <ion-select-option value="red">Indian</ion-select-option>
                </ion-select>
            </ion-item>
            <p class='validation-error' *ngIf="registerationForm.get('nationality').hasError('required')&&(registerationForm.get('nationality').dirty||registerationForm.get('nationality').touched)">{{'auth.form_fields.required'|translate}}</p> -->


    <!-- </form> -->
    <!-- </div> -->

    <!-- </div> -->
</ion-content>