<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
    <ion-label class='title ion-padding'>My Profile</ion-label>
    <ion-row class="ion-padding">
        <ion-col size='2.5'>

            <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
        </ion-col>
        <ion-col>
            <ion-label class='username-style'>Shubham Soni</ion-label>
            <ion-label class='email-style'>shubham.soni@gmail.com</ion-label>
        </ion-col>
    </ion-row>

    <div class='option-list'>
        <ion-item button detail (click)='changeProfileImage()' >
            <ion-label>
                Change Profile Image
            </ion-label>
        </ion-item>
        <ion-item button detail (click)='navigate(option.route)' *ngFor='let option of profile_management'>
            <ion-label>
                {{option.title}}
            </ion-label>
        </ion-item>

    </div>

</ion-content>