// ion-content{
//     --background:var(--ion-color-light-tint)
// }
// ion-toolbar{
//     --background:#f9f9f9
// }
ion-label.title{
font-size: 45px;
font-weight: 700;
margin-top:10% 

}

.upload-button{
    background-color: var(--ion-color-medium);
    padding: 3px;
    z-index: 2;
    position: absolute;
    left: 16%;
    top: 15%;
    margin: auto;
    border-radius: 50%;
 }
 ion-icon.upload {
     font-size:15px
 }

 .username-style{
    font-weight: 500;
    font-size: 20px;
 }
 .email-style{
     display: block;
     color: var(--ion-color-medium-tint)

 }
 ion-item{
     --background: transparent;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 500
 }
 