<ion-header class="ion-no-border">
  <ion-toolbar>
     <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title class='ion-text-center'>Profile Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding-vertical'>
  <ion-avatar class=''>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar>

<div class='container'>
  <div class='inner-container ion-margin-vertical' >

    <ion-label class='input-label'>First Name</ion-label>
    <ion-label class='details'>{{userData.first_name}} </ion-label>
  </div>

  <div class='inner-container ion-margin-vertical' >
    <ion-label class='input-label'>Last Name</ion-label>
    <ion-label class='details'>{{userData.last_name}} </ion-label>
  </div> 

  <div class='inner-container ion-margin-vertical' >
    <ion-label class='input-label'>Email</ion-label>
    <ion-label class='details'>{{userData.email}} </ion-label>
  </div> 

  <div class='inner-container ion-margin-vertical' >
    <ion-label class='input-label'>Mobile</ion-label>
    <ion-label class='details'>{{userData.phone_no}} </ion-label>
  </div>
  <div class='inner-container ion-margin-vertical' >
    <ion-label class='input-label'>DOB</ion-label>
    <ion-label class='details'>{{dob}} </ion-label>
  </div>
  <div class='inner-container ion-margin-vertical' >
    <ion-label class='input-label'>Gender</ion-label>
    <ion-label class='details'>{{userData.gender}} </ion-label>
  </div>

</div>
</ion-content>
