<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Dashboard</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>

        <ion-tab-button tab="search">
            <ion-icon name="search"></ion-icon>
            <ion-label>Search</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Setting</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>