ion-tab-button {
    
    --color-selected: var(--ion-color-warning-shade);
}
ion-tab-bar {
    box-shadow: 0px -3px 10px #8888884a;
    /* border: 1px solid; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 8%;
  }