<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" routerDirection="back"></ion-back-button>
        </ion-buttons>
        <ion-title>Cart</ion-title>
        <ion-buttons slot="end">
            <ion-button color="warning" routerLink="/tabs/home">
                <ion-icon name="home-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor='let item of topRatedProduct; let i = index;'>
            <ion-item>
                <ion-col size='4' (click)='routeProductPage(item)'>
                    <img class='productImg' src="{{basePath}}/{{item.product_image}}" alt="" srcset="">
                </ion-col>
                <ion-col size='8'>
                    <span class='productName' (click)='routeProductPage(item)'>{{item?.product_name}}</span>
                    <span class='price'>₹ {{item?.product_display_cost}}</span>
                    <!-- <ion-rating [rate]="product.product_rating" float-right readonly="true" size="small"> -->
                    <!-- </ion-rating> -->
                    <!-- <span class='rating'>{{product.product_rating}}</span> -->
                    <br>
                    <div>

                        <ion-button (click)="decrementQty(i, item?.qty)">-</ion-button>
                        <ion-button class='' (click)="incrementQty(i, item?.qty)">+</ion-button>
                        <span class='ion-float-right qty-label'>{{item?.qty}}</span>
                    </div>
                </ion-col>
            </ion-item>
            <ion-item-options>
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash" (click)="deleteItem(item)"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer *ngIf="topRatedProduct.length>0">
    <ion-grid>
        <ion-row>
            <ion-col class="totalAmount">
                <ion-label>₹ {{ totalAmount()}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-button class="placeOrder" routerLink="/checkout"> PLACE ORDER</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>