
.productName {
    font-size: 15px;
    font-weight: 600;
    display: block;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}
.manufacture {
    font-size: 12px;
    display: block;
    
}
.price {
    padding: 10px 0px;
    font-size: 20px;
  color:var(--ion-color-warning-shade);
    display: inline-block;
}
.productImg {
    width: 80px;
    height: 80px;
    border-radius: 12%;
} 
.qty-label {
    margin-top: 3%
}  
.placeOrder{
    --background: var(--ion-color-warning-shade);
    // float: right;
    height: 45px;
    width: 100%;
}
.totalAmount{
    text-align: center;
    padding: 15px;
    font-size: 25px;
}