<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'auth.settings.faq'| translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <accordion>
        <accordion-group>
            <accordion-heading>
                To whom I can contact for help for query?
            </accordion-heading>
            You can conatct to our devlopers by droping your doubt over the developer@gmail.com mail id.
        </accordion-group>
        <accordion-group>
            <accordion-heading>
                What features are not included in app ?
            </accordion-heading>
            <div>1. CURD operations with API integrations </div>
            <div>2. Push notification </div>
            <div>3. Theme handling </div>
            <div>4. Language support</div>
        </accordion-group>
        <accordion-group>
            <accordion-heading>
                Which features are coming soon ?
            </accordion-heading>
            <div>1. LTR and RTL functionality </div>
            <div>2. File uploading </div>
        </accordion-group>
        <accordion-group>
            <accordion-heading>
                Who provide this app ?
            </accordion-heading>
            Neosoft technologies
        </accordion-group>
    </accordion>
</ion-content>