
::ng-deep .panel{
    padding:0 15px 15px;

    .panel-heading{
        background-color: var(--ion-color-white);
        height: 45px;
        border-radius: 5px;
        .panel-title{
            padding: 10px;
            font-size: 0.99rem;
            font-weight: 500;
            color:var(--ion-color-dark);
        }

    }

    .panel-collapse{
        background-color: var(--ion-color-white);
        padding: 0 10px 10px;
        font-weight: 400;
        color:var(--ion-color-dark);
    }
}