.adddressCard{
    padding-inline-start: 13px;
    padding-inline-end: 13px;
    padding-block-end: 15px;
}
.addressName{
    font-size: 18px;
}
.address{
    font-size: 15px;
}
.savebtn{
    height: 45px;
    --background: var(--ion-color-warning-shade);
}
.productImage{
    height: 100px;
    width: 100px;
    float: right;
}
.sellingPrice{
    font-size: 20px;
}
.discount{
    color: var(--ion-color-warning-shade);
}
.mrp{
    text-decoration: line-through;
}
.priceDetail{
    color: gray;
    border-bottom: 1px solid gray;
    font-weight: bold;
    padding-bottom: 5px;
}
.placeOrder{
    --background: var(--ion-color-warning-shade);
    float: right;
    height: 45px;
    width: 100%;
}
.selecttable{
    margin-top: -20px;
}
.totalAmount{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}
.alignTxt{
    float: right;
}
.addressTop{
    padding-top: 10px;
}