<ion-header>
    <ion-toolbar>
        <!--Back Button Start-->
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" routerDirection="back"></ion-back-button>
        </ion-buttons>
        <!--Back Button End-->
        <ion-title>Order Summary</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-card>
    order trace
  </ion-card> -->
    <ion-card class="adddressCard">
        <div class="addressTop">
            <span class="addressName">{{!this.address?.personName?selectAddress:this.address?.personName}}</span>
            <br/>
            <br/>
        </div>
        <span class="address" *ngIf="this.address?.personName!=undefined">{{this.address?.houseNo}} {{this.address?.landmark}} {{this.address?.area}}
            <br/>
        </span>
        <span class="address" *ngIf="this.address?.personName!=undefined">{{this.address?.city}} {{this.address?.state}} {{this.address?.pincode}}
            <br/>
        </span>
        <span class="address" *ngIf="this.address?.personName!=undefined">{{this.address?.mobile}}
            <br/>
            <br/>
        </span>
        <ion-button type="submit" class="savebtn" expand="block" (click)="changeAddress()">Change or Add Address</ion-button>
    </ion-card>
    <ion-card class="adddressCard" *ngFor="let product of products">
        <ion-grid>
            <ion-row>
                <ion-col size="8">
                    <div class="addressName">{{product?.product_name}}</div>
                    <br/>
                    <span>Seller:{{product?.product_producer}}</span>
                    <br/>
                    <span>Status:{{product?.product_stock>0 ? 'In stock' : 'Out of stock'}}</span>
                    <br/>
                    <span>Rating:{{product?.product_rating}}</span>

                </ion-col>
                <ion-col size="4">
                    <img class="productImage" src="{{basePath}}/{{product?.product_image}}" />
                    <br/>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <span class="sellingPrice">{{product?.product_cost | currency: 'INR':true }}</span>&nbsp;
                    <span class="mrp">{{5705 | currency: 'INR':true}}</span>&nbsp;
                    <span class="discount">17% Off</span>
                    <br/>
                    <span class="discount">2 offers available</span>
                    <br/>
                    <br/>
                </ion-col>
                <ion-col size="4">
                    <ion-list class="selecttable">
                        <ion-item>
                            <ion-label>Item</ion-label>
                            <!-- <ion-select placeholder="{{cartCount}}" (ionChange)="updateSelectedValue($event,product?.sellingPrice)">
                                <ion-select-option value="1" [selected]="product?.quantity=='1'">1 {{product?.quantity}}</ion-select-option>
                                <ion-select-option value="2" [selected]="product?.quantity=='2'">2 {{product?.quantity}}</ion-select-option>
                                <ion-select-option value="3" [selected]="product?.quantity=='3'">3</ion-select-option>
                                <ion-select-option value="4" [selected]="product?.quantity=='4'">4</ion-select-option>
                                <ion-select-option value="5" [selected]="product?.quantity=='5'">5</ion-select-option>
                            </ion-select> -->

                            <ion-select placeholder="{{product?.quantity}}" (ionChange)="updateSelectedValue($event,product?.sellingPrice)">
                                <ion-select-option *ngFor="let item of quantity;let i=index;" [value]="item">{{item}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
        <span>Delivery in 5-7 days | {{'free' | titlecase}}</span>&nbsp;
        <span class="deliveryCharge mrp">{{50 | currency: 'INR':true}}</span>
    </ion-card>
    <ion-card class="adddressCard">
        <br/>
        <div class="priceDetail">
            <span>PRICE DETAILS</span>
            <br/>
        </div>
        <br/>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <span>Price (1 item)</span>
                    <br/>
                    <br/>
                    <span>Delivery</span>
                </ion-col>
                <ion-col>
                    <span class="alignTxt">{{totalPayble | currency: 'INR':true}}</span>
                    <br/>
                    <br/>
                    <span class="alignTxt">{{charges | currency: 'INR':true}}</span>
                </ion-col>
            </ion-row>
            <br/>
            <ion-row>
                <ion-col>
                    <span>Amount Payable</span>
                </ion-col>
                <ion-col>
                    <span class="alignTxt">{{totalPayble | currency: 'INR':true}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col class="totalAmount">
                <!-- <span>{{totalPayble | currency: 'INR':true}}</span> -->
                <ion-label>{{totalPayble | currency: 'INR':true}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-button class="placeOrder">Placed Order</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>