ion-button.submit{
    margin: auto;
    width: 80%;
    --background: black;
    display: block
}
ion-icon {
    font-size: 25px;
  }
  
ion-input {
    border-bottom-color: black;
}
ion-item {
    --border-color: transparent;
    // --border-width-bottom:5px;
    // font-size: 20px

}
     
ion-item-divider {
    --inner-padding-top:0px;
    --padding-top:0px;
    --color:black
}

.login-container{
    margin-top: 25%;
}

.back {
    --background: url('../../../assets/back8.png') no-repeat cover fixed center ;
    background: url('../../../assets/back8.png') no-repeat fixed center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.bg-image {
    background: url('../../../assets/back8.png') no-repeat   ;
    // background-color: white;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    // opacity: 0.4;

  // *****For Background blur effect uncomment the below code

      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
  
}
.facebookBtn {
    --background:white;
    color: #4267B2
}
.googleBtn{
    --background:white;
    color: #DB4437

}
.logo-img{
    width: 40%;
    margin: auto;
}

.fullheight {
    height: 100%;
    // position : fixed;
    // z-index: 9999;
    width: 100%
  }
  
//   .xc {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//   }

  
.input-box {
    width:95%; 
    margin-left:auto; 
    margin-right:auto; 
    padding-top: 10px 
  }


h1 {
   margin-top: 10px;
    text-align: center;
    color: var(--ion-color-dark);
  }
  h3 {
    
    text-align: center;
    color: var(--ion-color-light-shade);
  }




.app-logo {
    border-radius: 50%;
    padding: 10px;
    opacity: 0.5;
    background: black;
    display:inline-block;
    
}
.app-name{
    font-size: 35px;
    color: var(--ion-color-dark);

}
.app-header-container {
    margin-bottom: 20%;
    text-align: center
}
.forgot-pass-label {
    text-align: end !important;
    color: var(--ion-color-dark);
    width: 90%;
    display: block;

}
.social-login-label{
    color: var(--ion-color-dark);
    text-align: center
}
.showPassword{
    background-color: transparent;
    outline:none
}

.horizontal-rule{
    border-bottom: 1.5px solid var(--ion-color-dark); width: 45%
}
.horizontal-rule-text{
    vertical-align:middle;text-align:center; color:var(--ion-color-dark);
}
form {
    width: 100%
}
ion-toolbar {
    --background: transparent;
    color: rgb(3, 0, 0)
}
ion-item {
    --background: transparent;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 20px
  }


//   
.invalid-text{
    color:red;
    font-size: 15px;
    margin-left: 10%;
    padding-bottom: 10px;
}

.input-label{
    color: black;
    font-size: 15px;
    margin-left: 10%;
    padding-bottom: 10px;
}
.input-wrap {
    margin: auto;
    border: 2px solid black;
    color: black;
    width: 85%;
    border-radius: 5px;
    padding: 0px;
    font-size: 20px;
}

.invalid {
    margin: auto;
    border: 2px solid red;
    color: red;
    width: 85%;
    border-radius: 5px;
    padding: 0px;
    font-size: 20px;
}

a {
    text-decoration: none;
    padding: 5px
}
ion-col ion-button {
    display: block;
    margin:auto;
    width:90%

}

ion-input.ion-invalid {
    --border: none !important;
        --margin-left: 5px !important;
}
ion-item.ion-invalid {
    --highlight-background:transparent;
  }
  ion-item.ion-valid {
    --highlight-background:transparent;
  }
