<ion-header>
    <!-- <ion-toolbar>
        <ion-title class="ion-text-center">{{ 'auth.login.title' | translate}}</ion-title>
    </ion-toolbar> -->
</ion-header>


<ion-content class="back ion-justify-content-center" padding>
    <!-- <div class="bg-image"></div> -->
    <div class='login-container'>
        <div class='app-header-container'>
            <ion-img class='logo-img' [src]=logo></ion-img><br>
            <!-- <div>{{ 'Welcome to'}}</div> -->

            <!-- <div class='app-name'>{{ 'Account Login' |translate}}</div> -->
        </div>
        <form [formGroup]='loginForm' no-padding>
            <div class='ion-padding-vertical'>
                <div [ngClass]="loginForm.get('email').hasError('required')&&(loginForm.get('email').dirty||loginForm.get('email').touched)||loginForm.get('email').dirty&&loginForm.get('email').hasError('pattern')?'invalid-text':'input-label' ">Enter
                    Login Id</div>
                <div class='input-wrap' [ngClass]="loginForm.get('email').hasError('required')&&(loginForm.get('email').dirty||loginForm.get('email').touched)||loginForm.get('email').dirty&&loginForm.get('email').hasError('pattern')?'invalid':'valid' ">
                    <ion-item>
                        <ion-label>
                            <ion-icon name="mail"></ion-icon>
                        </ion-label>
                        <ion-input formControlName='email' placeholder='Email' type='email'></ion-input>

                    </ion-item>
                </div>
                <p class='validation-error' *ngIf="loginForm.get('email').hasError('required')&&(loginForm.get('email').dirty||loginForm.get('email').touched)">{{'auth.form_fields.required'|translate}}</p>
                <p class='validation-error' *ngIf="loginForm.get('email').hasError('pattern')">{{'auth.form_fields.enter_valid_email'|translate}}</p>
            </div>
            <div class='ion-padding-vertical'>
                <div [ngClass]="loginForm.get('pass').hasError('required')&&(loginForm.get('pass').dirty||loginForm.get('pass').touched)||loginForm.get('pass').dirty&&loginForm.get('pass').hasError('pattern')?'invalid-text':'input-label'">pass</div>
                <div class='input-wrap' [ngClass]="loginForm.get('pass').hasError('required')&&(loginForm.get('pass').dirty||loginForm.get('pass').touched)||loginForm.get('pass').dirty&&loginForm.get('pass').hasError('pattern')?'invalid':'valid'">
                    <!-- <ion-icon name='email' slot='start'></ion-icon> -->
                    <ion-item>
                        <ion-label>
                            <ion-icon name="lock-closed"></ion-icon>
                        </ion-label>
                        <ion-input type="{{passwordType}}" placeholder='Password' formControlName="pass"></ion-input>
                        <!-- <ion-input ></ion-input> -->
                        <!-- <ion-icon slot=end name="eye" class='showPassword'></ion-icon> -->
                        <button slot=end *ngIf="passwordType === 'text'" type="button" (click)="showPassword()" class="showPassword">
                            <ion-icon name="eye" class='showPassword'></ion-icon>
                        </button>
                        <button slot=end *ngIf="passwordType === 'password'" type="button" (click)="showPassword()" class="showPassword">
                            <ion-icon name="eye-off" class='showPassword'></ion-icon>
                        </button>
                    </ion-item>
                </div>
                <p class='validation-error' *ngIf="loginForm.get('pass').hasError('required')&&(loginForm.get('pass').dirty||loginForm.get('pass').touched)">{{'auth.form_fields.required'|translate}}</p>
                <p class='validation-error' *ngIf="loginForm.get('pass').hasError('pattern')">{{'auth.form_fields.enter_valid_password'|
                    translate}}
                </p>
            </div>


            <!-- <ion-item>
                <ion-label position="floating">{{'auth.form_fields.email'| translate}}</ion-label>
                <ion-input formControlName='email' type='email'></ion-input>
            </ion-item>
            <p class='validation-error' *ngIf="loginForm.get('email').hasError('required')&&(loginForm.get('email').dirty||loginForm.get('email').touched)">{{'auth.form_fields.required'|translate}}</p>
            <p class='validation-error' *ngIf="loginForm.get('email').hasError('pattern')">{{'auth.form_fields.enter_valid_email'|translate}}</p>

            <ion-item>
                <ion-label position="floating">{{'auth.form_fields.password'| translate}}</ion-label>
                <ion-input type="{{passwordType}}" formControlName="password"></ion-input> -->
            <!-- <ion-icon slot=end name="eye" class='showPassword'></ion-icon> -->

            <!-- <button slot=end *ngIf="passwordType === 'text'" type="button" (click)="showPassword()" class="showPassword">
                    <ion-icon name="eye" class='showPassword'></ion-icon>
                </button>
                <button slot=end *ngIf="passwordType === 'password'" type="button" (click)="showPassword()" class="showPassword">
                    <ion-icon name="eye-off" class='showPassword'></ion-icon>
                </button> -->
            <!-- </ion-item> -->

            <ion-label class='forgot-pass-label'>{{'auth.form_fields.forget_password'| translate}}</ion-label>
            <br>
            <ion-button class='submit ' size='large' (click)='onSubmit()'>{{'auth.login.title'| translate}}</ion-button>
            <br>
        </form>

        <table style='width: 100%'>
            <tr>
                <td class='horizontal-rule'>&nbsp;</td>
                <td class='horizontal-rule-text' rowspan="2">
                    <h1>{{'auth.form_fields.or'| translate}}</h1>
                </td>
                <td class='horizontal-rule'>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>


        <div class='social-login-label'>

            <span> {{'auth.login.login_with'| translate}}</span>
        </div>
        <ion-row>
            <ion-col size=6 padding>
                <ion-button shape='round' size='large' class='facebookBtn' (click)="socialSignIn('facebook')">
                    <ion-icon style='color:#4267B2' name="logo-facebook">
                    </ion-icon>&nbsp;&nbsp;{{'auth.form_fields.facebook'| translate}}
                </ion-button>
                <!-- &nbsp;&nbsp; -->
            </ion-col>

            <ion-col size=6 padding>
                <ion-button (click)="socialSignIn('google')" shape='round' size='large' class='googleBtn'>
                    <i class="fab fa-google fa-3x"></i>&nbsp;&nbsp;
                    <span style="color:#4285F4">G</span>
                    <span style="color:#DB4437">o</span>
                    <span style="color:#F4B400">o</span>
                    <span style="color:#4285F4">g</span>
                    <span style="color:#0F9D58">l</span>
                    <span style="color:#DB4437">e</span>
                </ion-button>
            </ion-col>
        </ion-row>

    </div>

    <div class='ion-align-items-end'>
        <ion-toolbar>
            <ion-title class="ion-text-center ion-padding-vertical">{{'auth.form_fields.new_user'| translate}}
                <br> <a routerLink='/registration'>{{'auth.form_fields.sign_up'| translate}}</a> <br>
            </ion-title>
        </ion-toolbar>
    </div>

</ion-content>
<!-- <ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-title class="ion-text-center ion-padding-vertical">{{'auth.form_fields.new_user'| translate}}
            <br> <br> <a routerLink='/registration'>{{'auth.form_fields.sign_up'| translate}}</a>
        </ion-title>
    </ion-toolbar>
</ion-footer> -->