<ion-header>
    <ion-toolbar>
        <ion-title> {{'auth.settings.title'| translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label> {{'auth.settings.enable_darkmode'| translate}}</ion-label>
        <ion-toggle [(ngModel)]="isDarkmode" (ionChange)="changeTheme($event)"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label> {{'auth.settings.change_language'| translate}}</ion-label>
        <ion-select multiple="false" (ionChange)="changeLaguage($event)" [value]="language" okText="Okay" cancelText="Dismiss" placeholder="{{'auth.settings.change_language'| translate}}">
            <ion-select-option value="en">English</ion-select-option>
            <ion-select-option value="fr">French</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label class="no-outline" [routerLink]="['/settings/faq']"> {{'auth.settings.faq'| translate}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label> {{"Trigger Notification"}}</ion-label>
        <ion-button (click)=triggerNotification() default color="dark">Click</ion-button>
    </ion-item>

</ion-content>