ion-toggle {
  
  --background-checked:var(--ion-color-warning-shade);

  --handle-background: var(--ion-color-warning-shade);  
  --handle-background-checked: rgb(255, 254, 254);
}
// ion-item{
//     padding: 20px 0px;
// }
.no-outline{
    outline: 0;
}