ion-card-content {
    text-align: center
}

  .container {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
    .scroll {
      overflow: auto;
    }
  }

  .slide_img {
    width: 412px;
    max-width: 100%;
    height: 278px;
    max-height: 100%;
  }
  .product_icon{
    font-size:35px;
    color: rgb(78, 157, 241);
  }
  .categoryName{
    color:  var(--ion-color-light);
    background: var(--ion-color-warning-shade);
    border-radius: 50%;
    padding: 10px;
    width:45px;
    height:40px
    // display: block
  }
  .topProductCard{
   
    height: 260px;
    padding-bottom: 0px
  }
  .cardImage{
    height: 121px;
    width: 150px;
  }
  .cardTitle{
    text-align: center;
  }
  .productName{
    overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  width:100px; 
    font-size: 16px;
    // overflow-wrap: break-word;
  }
  .productProducer{
    font-size: 12px;
    // color: gray;
  }
  .productCost{
    text-align: center;
    font-size: 20px;
  
    // color: red;
  }
  .addtoCart{
    float: right;
    color: rgb(78, 157, 241);
    margin-top: -13px;
    font-size: 30px;
  }
  .searchIcon{
    float: right;
    font-size: 27px;
    color: rgb(78, 157, 241);
  }

  .bullets{
    width:50px;
    background-color: var(--ion-color-warning-shade);;
    
  }


  .view-toggle-icons{
font-size: 20px;
padding: 5px;
color:var(--ion-color-warning-shade)
  }

  .productImg {
    width: 100px;
    height: 100px;
    border-radius: 12%;
}
.productNameList {
    overflow-wrap: break-word;
    font-size: 20px;
   
    display: block;
    // line-height: 2;
}
.manufacture {
    font-size: 12px;
    display: block;
    
}
.price {
    padding: 10px 0px;
    font-size: 20px;
  
    display: inline-block;
}
ion-icon.menu-icon {
    color: var(--ion-color-warning-shade)
}

ion-icon.search-icon {
    color: var(--ion-color-warning-shade)
}
ion-button.cart-btn{
    --background:var(--ion-color-warning-shade)
}