<ion-header class='ion-no-border'>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon class='menu-icon' name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Dashboard
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='openSearch()'>
                <ion-icon class='search-icon' name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-vertical">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="bubbles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div class='ion-padding-horizontal ion-padding-vertical'>
        <span class='bullets'>
            &nbsp;&nbsp;</span>&nbsp;
        <ion-label>Shop by Categories</ion-label>
    </div>

    <ion-slides [options]='slideOptsForCategory'>
        <ion-slide *ngFor="let item of slideData" (click)='navigateToProduct(item?.category_id, item?.category_name)'>
            <ion-col>
                <!-- <i class="{{item.product_icon}} categoryName"></i> -->
                <!-- //sofa -->
                <i *ngIf="item?.category_name == 'Sofa'" class="fas fa-couch categoryName"></i>
                <!-- //bed -->
                <i *ngIf="item?.category_name == 'Bed'" class="fa fa-bed categoryName"></i>
                <!-- //chair -->
                <i *ngIf="item?.category_name == 'Chair'" class="fas fa-chair categoryName"></i>
                <!-- //table -->
                <i *ngIf="item?.category_name == 'Table'" class="fa fa-table categoryName"></i>
                <!-- //almirah -->
                <i *ngIf="item?.category_name == 'Almirah'" class="fa fa-suitcase categoryName"></i>

                <br>
                <span>{{item.category_name}}</span>
            </ion-col>
        </ion-slide>
    </ion-slides>

    <!--image slides start-->
    <div class='ion-padding-horizontal ion-padding-vertical'>
        <span class='bullets'>
            &nbsp;&nbsp;</span>&nbsp;
        <ion-label>New Products</ion-label>
    </div>
    <ion-slides pager="true" [options]='slideOptsForProduct' loop="true" effect="coverflow">
        <ion-slide *ngFor="let item of slideData" (click)="navigateToProduct(item?.category_id, item?.category_name)">
            <ion-img src="{{basePath}}/{{item.product_image}}" class="slide_img"></ion-img>
        </ion-slide>
    </ion-slides>
    <!--image slides end-->

    <!--grid for product category start-->
    <div class='ion-padding-horizontal ion-padding-vertical'>
        <span class='bullets'>
            &nbsp;&nbsp;</span>&nbsp;
        <ion-label>Top Products</ion-label>

        <ion-icon class='ion-float-right view-toggle-icons' (click)='toggleListView()' name="list"></ion-icon>
        <ion-icon class='ion-float-right view-toggle-icons' (click)='toggleGridView()' name="grid"></ion-icon>
    </div>


    <!-- Grid View -->

    <ion-grid *ngIf='gridView' fixed class="grid_margin">
        <ion-row>
            <ion-col size="6" *ngFor="let item of topRatedProduct; let i = index;let odd=odd">
                <!--product category card start-->
                <ion-card class="topProductCard" (click)="routeProductDetailPage(item)">
                    <ion-card-title class="cardTitle">
                        <img class="cardImage" src="{{basePath}}/{{item.product_image}}" />
                    </ion-card-title>

                    <!--card icon start-->
                    <ion-card-content>
                        <span class="productName">{{item.product_name}}</span>
                        <span class="productProducer">{{item.product_producer}}</span>
                        <br/>

                        <div>
                            <span class="productCost">₹ {{item.product_cost}}</span>
                        </div>
                        <ion-button class='cart-btn'>
                            <!-- <ion-icon name="cart"></ion-icon> -->
                            Add to Cart
                        </ion-button>
                    </ion-card-content>
                    <!--card icon start-->
                </ion-card>
                <!--product category card end-->
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--grid for product category end-->

    <!-- List View -->
    <ion-list *ngIf='listView'>
        <ion-item-sliding *ngFor='let item of topRatedProduct; let i = index;'>
            <!-- <ion-item-options side="start">
                <ion-item-option color="success" (click)='addToCart(product)'>
                    <ion-icon slot="icon-only" src='../../assets/icon/add-to-cart.svg'></ion-icon>
                </ion-item-option>
            </ion-item-options> -->
            <ion-item (click)='routeProductDetailPage(item)'>

                <ion-col size='4'>

                    <img class='productImg' src="{{basePath}}/{{item.product_image}}" alt="" srcset="">
                </ion-col>
                <ion-col size='9'>
                    <span class='productNameList'>{{item.product_name}}</span>
                    <span class='manufacture'>{{item.product_producer}}</span>

                    <span class='price'>₹ {{item.product_cost}}</span>
                    <!-- <ion-rating [rate]="product.product_rating" float-right readonly="true" size="small"> -->
                    <!-- </ion-rating> -->
                    <!-- <span class='rating'>{{product.product_rating}}</span> -->


                </ion-col>


            </ion-item>
        </ion-item-sliding>
    </ion-list>


    <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>