<ion-list>

    <ion-item lines="none">
        <ion-icon (click)="onClose()" slot="end" name="close-outline"></ion-icon>
        <ion-label>Choose quanity</ion-label>
    </ion-item>
    <ion-radio-group (ionChange)="onQuantitySelection($event)" [(ngModel)]="productQuantity">
        <!-- <ion-list-header>
            <ion-label>
                Choose quantity
            </ion-label>
        </ion-list-header> -->

        <ion-item *ngFor="let q of quantity; let j=index">
            <ion-label>{{q}}</ion-label>
            <ion-radio [value]="q"></ion-radio>
        </ion-item>

    </ion-radio-group>
    <ion-row>
        <ion-col class="col-md-6">
        </ion-col>
        <ion-col class="col-md-6">
            <ion-button class="placeOrder" (click)="onOkay()">OKAY</ion-button>
        </ion-col>
    </ion-row>
    <div class="selection-error" *ngIf="error.length>0  && !productQuantity">{{error}}</div>
    <!-- <ion-item lines="none" detail="false" button onClick="dismissPopover()">Close</ion-item> -->
</ion-list>