.placeOrder{
    --background: var(--ion-color-warning-shade);
    // float: right;
    height: 45px;
    width: 100%;
}
.selection-error{
    color: red;
    font-size: 0.85rem;
    padding: 0 10px;
    float:right;
}