.imageSlide{
    height: 300px;
}
.productDetail{
    padding-top: 30px;
    padding-left: 25px;
}
.productName{
    font-size: 20px;
}
.productCost{
    font-size: 30px;
}
.actualPrice{
    font-size: 25px;
    color: gray;
    text-decoration: line-through;
}
.offPercent{
    font-size: 20px;
    color: orange;
}
.starRating{
    color: orange;
    font-size: 15px;
}
.ratingBtn{
    --background: green !important;
}
.review{
    color: gray;
    font-size: 18px;
}
.iimg{
    height: 55%;
    width:55%;
}
.idiv{
    float: left;
    padding: 20px 20px 20px 0;
}
.desp{
    // padding-left: 21px;
    color: gray;
}
.ion-avtar{
    display: flex;
    align-items: center;
}

.placeOrder{
    --background: var(--ion-color-warning-shade);
    // float: right;
    height: 45px;
    width: 100%;
}
