<ion-header>
    <ion-toolbar>
        <!--Back Button Start-->
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" routerDirection="back"></ion-back-button>
        </ion-buttons>
        <!--Back Button End-->
        <ion-title>Product Details</ion-title>
        <!--   Share Button Start-->
        <ion-buttons slot="end">

            <ion-button routerLink='/cart'>
                <ion-icon color="warning" name="cart"></ion-icon>
            </ion-button>
            <ion-button (click)="shareProduct()">
                <ion-icon color="warning" name="share-social-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!--Share Button End-->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="imageCard">
        <ion-slides pager="true" loop="true" effect="coverflow" class="imageSlide">
            <!-- <ion-slides pager="true" [options]='slideOptsForProduct' loop="true" effect="coverflow" class="imageSlide"> -->
            <ion-slide *ngFor="let item of subImages">
                <ion-img src="{{baseUrl}}/{{item}}" class="slide_img"></ion-img>
            </ion-slide>
        </ion-slides>

        <div class="productDetail">
            <span class="productName">{{productDetail?.product_name}}</span>
            <br />
            <br />
            <span class="productCost">Rs.{{productDetail?.product_cost}}</span>&nbsp;&nbsp;
            <span class="actualPrice">5000</span>&nbsp;
            <span class="offPercent">3% off</span>
            <br />
            <br />
            <ion-button class="ratingBtn">{{productRating}} &nbsp;
                <span class="fa fa-star starRating"></span>
            </ion-button>&nbsp;&nbsp;
            <span class="review">580 ratings & 67 reviews</span>
            <br />
            <br />
            <ion-item lines="none">
                <!-- <ion-avatar class="ion-avtar" slot="start">
                    <img class="iimg" src="../../../assets/i.png" />
                </ion-avatar> -->
                <div class="desp">
                    <span>{{productDetail?.product_desc}}</span>
                </div>
            </ion-item>
            <ion-item lines="none">
                <ion-avatar class="ion-avtar" slot="start">
                    <img class="iimg" src="../../../assets/i.png" />
                </ion-avatar>
                <div class="desp">
                    <span>FREE Delivery</span>
                </div>
            </ion-item>
            <ion-item lines="none">
                <ion-avatar class="ion-avtar" slot="start">
                    <img class="iimg" src="../../../assets/i.png" />
                </ion-avatar>
                <div class="desp">
                    <span>No cost EMI</span>
                </div>
            </ion-item>
            <ion-item lines="none">
                <ion-avatar class="ion-avtar" slot="start">
                    <img class="iimg" src="../../../assets/i.png" />
                </ion-avatar>
                <div class="desp">
                    <span>Product Exchange</span>
                </div>
            </ion-item>
        </div>
        <br />
    </ion-card>

    <!-- <ion-card class="imageCard shareIcon">
        <span class="shareText" (click)="shareProduct()">
            <i class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;Share</span>
    </ion-card> -->
    <ion-card class="imageCard">
        <div class="productDetail">
            <span class="optionText">Easy Payment Options</span>
            <br />
            <br />
            <span class="optionsEmi">
                <i class="fa fa-circle"></i>&nbsp;&nbsp; No cost EMI starting from Rs.1080/month
            </span>
            <br />
            <span class="optionsEmi">
                <i class="fa fa-circle"></i>&nbsp;&nbsp; Cash on Delivery</span>
            <br />
            <span class="optionsEmi">
                <i class="fa fa-circle"></i>&nbsp;&nbsp; Net banking & Credit/Debit/ATM cards </span>
            <br />
            <br />
        </div>
    </ion-card>
    <ion-card class="imageCard">
        <div class="productDetail">
            <span class="optionText">SPECIFICATIONS</span>
            <br />
            <br />
            <ion-grid>
                <ion-row>
                    <ion-col class="col-md-6">
                        <span>Model Name</span>
                    </ion-col>
                    <ion-col class="col-md-6">
                        <span>{{productDetail?.product_name}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="col-md-6">
                        <span>Color</span>
                    </ion-col>
                    <ion-col class="col-md-6">
                        <span>{{productDetail?.color_id.color_name}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="col-md-6">
                        <span>Producer</span>
                    </ion-col>
                    <ion-col class="col-md-6">
                        <span>{{productDetail?.product_producer}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="col-md-6">
                        <span>Material</span>
                    </ion-col>
                    <ion-col class="col-md-6">
                        <span>{{productDetail?.product_material}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="col-md-6">
                        <span>Dimension</span>
                    </ion-col>
                    <ion-col class="col-md-6">
                        <span>{{productDetail?.product_dimension}}</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="col-md-6">
                        <span>Product Type</span>
                    </ion-col>
                    <ion-col class="col-md-6">
                        <span>{{productDetail?.category_id.category_name}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-card>
</ion-content>
<!--footer section start-->
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button class="placeOrder" (click)="handleButtonClick($event)">ADD TO CART</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="gotoCheckout()" class="placeOrder">BUY NOW</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
<!--footer section end-->