<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">

                    <ion-avatar class='ion-center'>
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <div class='upload-button' (click)='openImgaeUploadOptions()'>
                        <ion-icon class='upload' name="camera-outline"></ion-icon>
                    </div>
                    <ion-title class='ion-text-center'>{{userData?.profile?.firstname}} &nbsp; {{userData?.profile?.lastname}} </ion-title>
                    <ion-title class='ion-text-center'>{{userData?.profile?.email}}</ion-title>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>


                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-list class="ion-align-self-end">
                    <ion-item (click)='logout()'>
                        <ion-icon slot='start' name="log-out"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-list>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>