ion-avatar {
    margin:auto;
    height: 130px;
    width: 130px;
}
.details {
    
    display: block;

 font-size:20px
}
.input-label{
    color:gray;
    display: block;
    margin:7px 0px;
    font-size:15px

}
.container{
 padding:20px 50px
}