
<ion-header class="ion-no-border">
  <ion-toolbar>
     <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title class='ion-text-center'>Edit Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding-vertical'>
  <ion-avatar class=''>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar>

<div class='container'>
  <div class='inner-container ion-margin-vertical' *ngFor='let details of profile_details'>

    <ion-label class='input-label'>{{details.label}}</ion-label>
    <ion-label class='details'>{{details.value}} </ion-label>
  </div>


</div>
</ion-content>
