
ion-label.title{
    font-size: 45px;
    font-weight: 700;
    margin-top:10% 
    
    }
    ion-card{
        border-radius: 10px;
       
    }    
    // ion-content{
    //     --background:var(--ion-color-content-background)
    // } 

    
.bold-label {
    font-weight: 700;
    color: black
} 

ion-button.details-btn {
    // --background: transparent;
    color: black;
   
}