<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
    <ion-label class='title ion-padding'>My Orders</ion-label>
    <br><br>




    <ion-card class='ion-padding ion-margin-vertical' *ngFor='let order of orders, index as i '>
        <ion-row>
            <ion-col  class='bold-label'>Order No. {{order._id}}</ion-col>
            <ion-col size='4'class='ion-text-end'>31-07-2020</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size='3.5' class=''>Products:&nbsp;<span class='bold-label'>{{order.product_details.length}}</span></ion-col>
            <ion-col class='ion-text-end'>Total Amount:&nbsp;<span class='bold-label'>₹ {{order.product_details[0].total_cartCost}}</span></ion-col>
        </ion-row><br>
        <ion-button fill=outline shape="round" color="dark" (click)='navigateToDetail(order)'>Details</ion-button>
    </ion-card>
    <!-- <ion-card class='ion-padding ion-margin-vertical'>
        <ion-row>
            <ion-col class='bold-label'>Order No. 123456</ion-col>
            <ion-col class='ion-text-end'>31-07-2020</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class=''>Quantity:&nbsp;<span class='bold-label'>3</span></ion-col>
            <ion-col class='ion-text-end'>Total Amount:&nbsp;<span class='bold-label'>₹ 123</span></ion-col>
        </ion-row><br>
        <ion-button fill=outline shape="round" color="dark">Details</ion-button>
    </ion-card>
    <ion-card class='ion-padding ion-margin-vertical'>
        <ion-row>
            <ion-col class='bold-label'>Order No. 123456</ion-col>
            <ion-col class='ion-text-end'>31-07-2020</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class=''>Quantity:&nbsp;<span class='bold-label'>3</span></ion-col>
            <ion-col class='ion-text-end'>Total Amount:&nbsp;<span class='bold-label'>₹ 123</span></ion-col>
        </ion-row><br>
        <ion-button fill=outline (click)='navigateToDetail()' shape="round" color="dark">Details</ion-button>
    </ion-card> -->


</ion-content>