<ion-header>
  <ion-toolbar>
    <!--Back Button Start-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <!--Back Button End-->
    <ion-title>Add a new Address</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="addressPage">
      <ion-card>Order Trace</ion-card>
      <div class="currentLocation">
        <ion-card class="locationCard">
          <ion-icon name="location-outline"></ion-icon>&nbsp;&nbsp;<span
            >Use my current location</span
          >
        </ion-card>
        <span class="autofield">Tap to auto fill the address fields.</span>
      </div>
      <div class="addressfield">
        <ion-item class="fieldback">
          <ion-label position="floating"
            >Pincode<ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            class="inputfield"
            type="number"
            formControlName="pincode"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }"
          ></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
          <div class="errormsg" *ngIf="f.pincode.errors.required">
            Pincode is required
          </div>
          <div class="errormsg" *ngIf="f.pincode.errors.pattern">
            Enter valid pincode
          </div>
        </div>
        <br />
        <ion-item class="fieldback">
          <ion-label position="floating"
            >House No.,Building name<ion-text color="danger"
              >*</ion-text
            ></ion-label
          >
          <ion-input
            class="inputfield"
            type="text"
            formControlName="houseNo"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.houseNo.errors }"
          ></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.houseNo.errors" class="invalid-feedback">
          <div class="errormsg" *ngIf="f.houseNo.errors.required">
            House name/number is required
          </div>
        </div>
        <br />
        <ion-item class="fieldback">
          <ion-label position="floating"
            >Road Name,Area,Colony<ion-text color="danger"
              >*</ion-text
            ></ion-label
          >
          <ion-input
            class="inputfield"
            type="text"
            formControlName="area"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.area.errors }"
          ></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
          <div class="errormsg" *ngIf="f.area.errors.required">
            Area is required
          </div>
        </div>
        <br />
        <div>
          <div class="cityDiv">
            <ion-item class="fieldback">
              <ion-label position="floating"
                >City<ion-text color="danger">*</ion-text></ion-label
              >
              <ion-input
                class="inputfield"
                type="text"
                formControlName="city"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
              ></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div class="errormsg" *ngIf="f.city.errors.required">
                City is required
              </div>
              <div class="errormsg" *ngIf="f.city.errors.pattern">
                Enter valid city name
              </div>
            </div>
          </div>
          <div>
            <ion-item class="fieldback">
              <ion-label position="floating"
                >State<ion-text color="danger">*</ion-text></ion-label
              >
              <ion-input
                class="inputfield"
                type="text"
                formControlName="state"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.state.errors }"
              ></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
              <div class="errormsg" *ngIf="f.state.errors.required">
                State is required
              </div>
              <div class="errormsg" *ngIf="f.state.errors.pattern">
                Enter valid state name
              </div>
            </div>
          </div>
        </div>
        <br />
        <ion-item class="fieldback">
          <ion-label position="floating">Landmark (Optional)</ion-label>
          <ion-input
            class="inputfield"
            type="text"
            formControlName="landmark"
            class="form-control"
          ></ion-input> </ion-item
        ><br />
        <ion-item class="fieldback">
          <ion-label position="floating"
            >Name<ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            class="inputfield"
            type="text"
            formControlName="personName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.personName.errors }"
          ></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.personName.errors" class="invalid-feedback">
          <div class="errormsg" *ngIf="f.personName.errors.required">
            Name is required
          </div>
        </div>
        <br />
        <ion-item class="fieldback">
          <ion-label position="floating"
            >Mobile Number<ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            class="inputfield"
            type="number"
            formControlName="mobile"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
          ></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
          <div class="errormsg" *ngIf="f.mobile.errors.required">
            Mobile number is required
          </div>
          <div class="errormsg" *ngIf="f.mobile.errors.pattern">
            Enter valid Mobile number
          </div>
        </div>
        <br />
        <ion-item class="fieldback">
          <ion-label position="floating"
            >Alternate Phone Number (Optional)</ion-label
          >
          <ion-input class="inputfield" type="number"
          formControlName="alternatemobile"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.alternatemobile.errors }"></ion-input> </ion-item
        >
        <div *ngIf="submitted && f.alternatemobile.errors" class="invalid-feedback">
          <div class="errormsg" *ngIf="f.alternatemobile.errors.pattern">
            Enter valid Mobile number
          </div>
        </div>
        <br />
      </div>
      <div>
        <ion-card class="fieldback">
          <span>Address Type</span><br />
          <ion-radio-group formControlName="addressType">
            <ion-item class="fieldback">
              <ion-label>Home Address</ion-label>
              <ion-radio class="radiobtn" slot="start" value="home"></ion-radio>
            </ion-item>

            <ion-item class="fieldback">
              <ion-label>Work/Office Address</ion-label>
              <ion-radio
                class="radiobtn"
                slot="start"
                value="office"
              ></ion-radio>
            </ion-item>
          </ion-radio-group>
          <div *ngIf="submitted && f.addressType.errors" class="invalid-feedback">
            <div class="errormsg" *ngIf="f.addressType.errors.required">
              Address type is required
            </div>
          </div>
        </ion-card>
      </div>
      <ion-button type="submit" class="savebtn" expand="block">SAVE</ion-button>
    </div>
  </form>
</ion-content>
