.addressPage{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.currentLocation{
    text-align: center;
}
.locationCard{
    font-size: 20px;
    height: 58px;
    padding-block-start: 13px;
}
.autofield{
    font-size: 14px;
    color: gray;
}
.cityDiv{
    float: left;
}
.addressfield{
    padding-top: 20px;
    padding-bottom: 20px;
}
.inputfield{
    border-bottom: 1px solid #c2c2c2;
}
.fieldback{
    --background: transparent !important;
    --highlight-color-focused:var(--ion-color-warning-shade);
}
.savebtn{
    height: 45px;
    --background: var(--ion-color-warning-shade);
}
.radiobtn{
    --color-checked:var(--ion-color-warning-shade);
    --color:var(--ion-color-warning-shade);
}
.errormsg{
    color: red;
    padding-left: 15px;
}