<ion-header>
  <ion-toolbar>
    <!--Back Button Start-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <!--Back Button End-->
    <ion-title>Select Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="addressPage">
    <ion-card>Order Trace</ion-card>
    <ion-card class="addAddress" (click)="addAddress()">
      <ion-icon name="add-outline"></ion-icon>&nbsp;&nbsp;
      <span> Add a new address</span>
    </ion-card>
    <ion-card class="itembg">
      <ion-radio-group (ionChange)="checkValue($event)">
        <ion-list-header>
          <ion-label>Address</ion-label>
        </ion-list-header>
        <div
          *ngFor="let element of addresslist;let i = index"
          class="addressitem itembg">
          <ion-radio class="radiobtn" slot="start" value="{{i}}"></ion-radio>
          <ion-label>
            <span class="userName">{{element?.personName}}</span>
            <span class="editAddress" *ngIf="show[i]">
              <span (click)="editAddress(i)"><ion-icon name="create-outline" ></ion-icon></span> &nbsp;&nbsp;
              <span (click)="deleteAddress(i)"> <ion-icon name="trash-outline" ></ion-icon></span> 
             </span><br/><br/>
             <span class="addressTxt">{{element?.houseNo}} {{element?.area}} {{element?.landmark}}</span><br/>
             <span class="addressTxt">{{element?.city}} {{element?.state}} {{element?.pincode}}</span><br/>
             <span class="addressTxt">{{element?.mobile}}</span>
          </ion-label>
        </div>
      </ion-radio-group>
    </ion-card>
  </div>
</ion-content>
<!--footer section start-->
<ion-footer>
  <ion-button
    type="submit"
    class="savebtn"
    expand="block"
    (click)="deliveredAddress()"
    >DELIVER HERE</ion-button
  >
</ion-footer>
<!--footer section end-->
