.addressPage{
    margin-left: 10px;
    margin-right: 10px;
}
.addAddress{
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
}
.radiobtn{
    --color-checked:var(--ion-color-warning-shade);
    --color:var(--ion-color-warning-shade);
    margin-bottom: -30px;
}
.savebtn{
    height: 45px;
    --background: var(--ion-color-warning-shade);
}
.userName{
    font-size: 23px;
    padding-left: 20px;
}
.addressitem{
    border-bottom: 1px solid gray;
}
.itembg{
    --background: transparent;
    padding-bottom: 6px;
    padding-top: 9px;
}
.editAddress{
    float: right;
    font-size: 25px;
}
.addressTxt{
    padding-left: 40px;
    font-size: 15px;
}
.mrp{
    text-decoration: line-through;
}