<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Order Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div class=''> -->
  <ion-row class="ion-no-padding">
    <ion-col>
      <ion-label class="ion-text-start bold-label"
        >Order No. {{orderDetails?._id}}</ion-label
      >
    </ion-col>
    <ion-col class="ion-text-end">
      <!-- {{orderDetails.product_details[0]} -->
      <ion-label
        >{{orderDetails?.product_details[0].createdAt | amDateFormat: 'Do MMM
        YYYY'}}</ion-label
      >
    </ion-col>
  </ion-row>

  <!-- </div> -->
  <div class="padding-top">
    &nbsp;{{orderDetails?.product_details.length}} items
  </div>
  <div
    class="product-list"
    *ngFor="let detail of orderDetails?.product_details, index as i"
  >
    <ion-card class="ion-margin-vertical">
      <ion-row>
        <ion-col size="3.5">
          <img
            class="productImg"
            src="http://180.149.241.208:3022/{{detail?.product_details[0].product_image}}"
            alt=""
            srcset=""
          />
        </ion-col>
        <ion-col size="8">
          <span class="productName"
            >{{detail?.product_details[0].product_name}}</span
          >
          <span class="price"
            >₹ {{detail?.product_details[0].product_cost}}</span
          ><br />
          QTY:<span class="bold-label"> {{detail?.quantity}}</span>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div class="ion-margin-vertical">
    <ion-label class="bold-label">Shipping Address</ion-label><br />
    <span class="address"
      >{{orderDetails?.product_details[0].delivery_address}}</span
    >
  </div>
  <div class="ion-text-center">
    <span class="bold-label" style="font-size: 25px">Total Amount :</span>&nbsp;
    <span class="price" style="font-size: 25px"
      >{{orderDetails?.product_details[0].total_cartCost }}</span
    >
  </div>
  <br />
  <ion-button
    position="bottom"
    expand="block"
    (click)="downloadInvoice(orderDetails)"
    >Download Invoice</ion-button
  >
</ion-content>
