
ion-label.title{
    font-size: 45px;
    font-weight: 700;
    
    
    }
    ion-card{
        border-radius: 10px;
       
    }    
    // ion-content{
    //     --background:var(--ion-color-content-background)
    // } 

    
.bold-label {
    font-weight: 700;
    color: black
} 

ion-button.details-btn {
    // --background: transparent;
    color: black;
   
}
.padding-top{
    padding-top:20px
}
.productImg {
    width: 100px;
    height: 90px;
    border-radius: 12%;
}   
.price{
    padding: 10px 0px;
    font-size: 20px;
    color:var(--ion-color-warning-shade);
    display: inline-block;
}
.productName{
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 20px;
    font-weight: 600;
    display: block;
    color:black
    // line-height: 2;
}
.productImg {
    width: 100px;
    height: 90px;
    border-radius: 12%;
}  
.bold-label {
    font-weight: 700;
    color: black
} 
.address {
    display: block;
    font-size:19px
}
