<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar type="text" debounce="500" (ionChange)="filter($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of items">{{ item }}</ion-item>
    </ion-list>
</ion-content>